---
import BaseLayout from "@layouts/BaseLayout.astro";
import NoteMenu from "@components/NoteMenu.svelte";
import Search from "@components/search/Search.svelte";
import { getCollection } from "astro:content";

const allNotes = (await getCollection("notes")).filter(
    (note) => !note.data.draft,
);
const noteSearchKeys = ["body", "data.title"];

const pageTitle = "Notes";
---

<BaseLayout pageTitle={pageTitle}>
    <NoteMenu notes={allNotes} client:load />
    <div class="pt-4">
        <div class="pb-2">
            <div class="text-2xl font-bold text-center text-content">
                Alex's Notes
            </div>
        </div>
        <Search keys={noteSearchKeys} posts={allNotes} client:load />
    </div>
</BaseLayout>
