---
import ImageCard from "@components/ImageCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

let allPhotos = await getCollection("photos");

// sort by most recent
allPhotos = allPhotos.sort((p1, p2) => {
    return p2.data.startDate.getTime() - p1.data.startDate.getTime();
});

const pageTitle = "Photos";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-col w-full gap-4">
        {allPhotos.map((photos) => <ImageCard photos={photos} />)}
    </div>
</BaseLayout>
