@import "tailwindcss";
@plugin '@tailwindcss/typography';

/*
* `prose-inline-code:` selector for only selecting inline code (instead of also
* selecting code blocks) in typography `prose` blocks.
* */
@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));

/* Light theme colors. */
:root {
    --background-color: oklch(100% 0 0);
    --alt-background-color: oklch(97% 0 0);
    --primary-color: oklch(75.461% 0.183 346.812);
    --content-color: oklch(20% 0 0);
    --light-accent-color: #bababa;
    --default-shadow-color: var(--color-neutral-200);
    --default-outline-color: #000000;
}

@theme inline {
    --color-background: var(--background-color);
    --color-alt-background: var(--alt-background-color);
    --color-light-accent: var(--light-accent-color);
    --color-primary: var(--primary-color);
    --color-content: var(--content-color);
    --color-default-shadow: var(--default-shadow-color);
    --color-default-outline: var(--default-outline-color);
    --font-crimson: "Crimson Text", serif;
}

@layer components {
    .btn-hover {
        @apply transition-all hover:bg-neutral-400/30 cursor-pointer duration-300;
    }
}

@utility hard-shadow {
    box-shadow: 0px 3px 0px 0px --alpha(var(--color-neutral-300) / 50%);
}

@utility hard-shadow-hover {
    box-shadow: 0px 7px 0px 0px --alpha(var(--color-primary) / 50%);
}

@utility hard-shadow-hover-no-displacement {
    box-shadow: 0px 3px 0px 0px --alpha(var(--color-primary) / 50%);
}

@utility diagonal-lines {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cecece' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Some styling for KaTeX sections. */
.katex-display {
    overflow: auto hidden;
}

.prose figure {
    @apply rounded-sm border-neutral-300 border mx-auto w-fit my-4 hard-shadow;
}

.prose figure img {
    @apply border-b border-neutral-300 rounded-t-sm max-h-[75vh] w-auto m-0;
}

.prose figcaption {
    @apply font-crimson text-lg bg-background rounded-b-sm italic text-center m-0 text-content;
}
