---
import { getCollection } from "astro:content";
import Tag from "@components/Tag.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { slugify } from "@utils/slugify";

const allPosts = await getCollection("posts");

const allTags = allPosts.map((post) => post.data.tags).flat();
const tagMap = new Map<string, string>();
for (const tag of allTags) {
    const slug = slugify(tag);
    if (!tagMap.has(slug)) {
        tagMap.set(slug, tag);
    }
}
const tags = [...tagMap.values()];
const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="bg-secondary-bg border border-line hard-shadow">
        <div
            class="font-mono text-sm font-bold w-full text-left p-2 border-b border-line"
        >
            All Tags
        </div>
        <div class="flex gap-2 flex-row flex-wrap p-4">
            {
                tags.map((tag) => (
                    <Tag
                        tag={tag}
                        class="border border-line-secondary text-ink-tertiary hover:text-primary hover:border-primary"
                    />
                ))
            }
        </div>
    </div>
</BaseLayout>
