---
import ProjectCard from "@components/ProjectCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import DummyProjectCards from "@components/DummyProjectCards.svelte";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

let filteredPosts = allPosts.filter((post) => {
    return post.data.project;
});

filteredPosts = filteredPosts.sort((post1, post2) => {
    return post2.data.pubDate.getTime() - post1.data.pubDate.getTime();
});

const pageTitle = "Projects";

const links = [["Quotes I Like", "/quotes/"]];
---

<BaseLayout pageTitle={pageTitle}>
    <div
        class="border border-default-outline bg-background dark:bg-alt-background text-content mt-4"
    >
        <h1 class="font-bold text-lg p-2 border-b border-default-outline">
            Experiments
        </h1>
        {
            links.map(([title, link]) => (
                <a href={`/experiments${link}`}>{title}</a>
            ))
        }
    </div>
</BaseLayout>
