---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const photos = await getCollection("photos");
---

<BaseLayout pageTitle="Photos">
    {photos.map((p) => <p>{p.data.title}</p>)}
</BaseLayout>
