---
/**
 * Pill-shaped tag that can be used to show relevant topics for a post or project.
 */
interface Props {
    tag: string;
    link?: boolean;
    class?: string;
}

const { tag, link = true, class: className } = Astro.props;
---

{
    link ? (
        <a
            class={`border px-2 py-0.5 text-xs uppercase hover:text-primary hover:bg-primary/10 duration-150 transition-all hover:border-primary whitespace-nowrap font-mono ${className ?? "text-ink-tertiary border-line-secondary"}`}
            href={"/tags/" + tag}
        >
            {tag}
        </a>
    ) : (
        <div
            class={`border px-2 py-0.5 text-xs uppercase font-mono whitespace-nowrap ${className ?? "text-ink-tertiary border-line-secondary"}`}
        >
            {tag}
        </div>
    )
}
