---
/**
 * Pill-shaped tag that can be used to show relevant topics for a post or project.
 */
interface Props {
    tag: string;
}

const { tag } = Astro.props;
---

<a
    class="border border-neutral-400 hover:hard-shadow-hover-no-displacement transition-all duration-300 px-2 py-0.5 text-xs hard-shadow capitalize hover:text-primary hover:border-primary whitespace-nowrap text-neutral-400"
    href={"/tags/" + tag}
>
    {tag}
</a>
