---
/**
 * Pill-shaped tag that can be used to show relevant topics for a post or project.
 */
interface Props {
    tag: string;
}

const { tag } = Astro.props;
---

<div
    class="ring-1 ring-light-accent px-2 py-0.5 rounded-full text-xs capitalize text-neutral-400 primary-hover hover:ring-primary hover:text-primary whitespace-nowrap"
>
    <a href={"/tags/" + tag}>{tag}</a>
</div>
