---
/**
 * Pill-shaped tag that can be used to show relevant topics for a post or project.
 */
interface Props {
    tag: string;
    link?: boolean;
}

const { tag, link = true } = Astro.props;
---

{
    link ? (
        <a
            class="border border-line-secondary px-2 py-0.5 text-xs uppercase hover:text-primary hover:border-primary whitespace-nowrap text-ink-tertiary font-mono"
            href={"/tags/" + tag}
        >
            {tag}
        </a>
    ) : (
        <div class="border border-line-secondary px-2 py-0.5 text-xs uppercase font-mono whitespace-nowrap text-ink-tertiary">
            {tag}
        </div>
    )
}
