---
/**
 * The basic layout that wraps all pages, including MarkdownPostLayout.astro.
 * This just provides consistent theming and spacing around the edges of each
 * page. Also persists the header and footer across pages.
 */
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@styles/global.css";
import "@fontsource/crimson-text/400-italic.css";
import "@fontsource/crimson-text/600-italic.css";
import "@fontsource/crimson-text/700-italic.css";
import "@fontsource/crimson-text/400.css";
import "@fontsource/crimson-text/600.css";
import "@fontsource/crimson-text/700.css";
import "@fontsource/fira-code";
interface Props {
    pageTitle: string;
    math?: boolean;
}

import "katex/dist/katex.min.css";

const { pageTitle } = Astro.props;
---

<html lang="en" id="html-root" class="motion-safe:scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Alex Bustos's personal website." />
        <title>Alex Bustos | {pageTitle}</title>
        <script is:inline>
            const t = localStorage.getItem("theme");
            if (t) document.documentElement.setAttribute("data-theme", t);
        </script>
    </head>

    <body class="bg-bg flex flex-col min-h-screen overflow-x-hidden">
        <div class="w-[90vw] max-w-175 mx-auto mt-4">
            <Header />
        </div>

        <div
            class="relative grid mt-4 grow grid-cols-[minmax(0,1fr)_minmax(0px,min(43.75rem,90vw))_minmax(0,1fr)]"
        >
            <div class="col-start-2 flex flex-col">
                <slot />
            </div>
            <div class="col-start-3">
                <slot name="aside" />
            </div>
        </div>

        <div class="w-[90vw] max-w-175 mx-auto">
            <Footer />
        </div>
    </body>
</html>
