---
/**
 * The basic layout that wraps all pages, including MarkdownPostLayout.astro.
 * This just provides consistent theming and spacing around the edges of each
 * page. Also persists the header and footer across pages.
 */
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@styles/global.css";
import "@fontsource/crimson-text/400-italic.css";
import "@fontsource/crimson-text/600-italic.css";
import "@fontsource/crimson-text/700-italic.css";
import "@fontsource/crimson-text/400.css";
import "@fontsource/crimson-text/600.css";
import "@fontsource/crimson-text/700.css";
import "katex/dist/katex.min.css";

interface Props {
    pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en" id="html-root" class="bg-slate-50">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Alex Bustos's personal website." />
        <title>Alex Bustos | {pageTitle}</title>
    </head>

    <body>
        <div class="w-[90vw] xl:w-[50vw] mx-auto mt-4 mb-10">
            <Header />
        </div>

        <div class="flex flex-col w-[90vw] xl:w-[50vw] mx-auto">
            <slot />
        </div>
        <Footer />
    </body>
</html>
